body{
    text-align: center;
    background: #a0e8cf;
    font-family: sans-serif;
    font-weight: 100;
}

.SOSC{
  color: #191919;
  font-size: 25px;

}

.header{
  color: #191919;
  font-size: 40px;

}