body{
    text-align: center;
    background: #130e25;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}

.SOSC{
  color: #50fd51;
  font-size: 15px;
  font-family: sans-serif;

}

.header{
  color: #50fd51;
  font-size: 50px;
  font-family: monospace;

}
.searchbox{
    border: 2px;
    border-radius: 7px 25px;
    padding: 10px;
    font-size: 20px;
}
.find{
  background: #50fd51;
  font-family: monospace;
  font-size: 20px;
  color: #090651;
  border-radius: 7px 25px;
  border-color: #090651;
  padding: 10px;
}
.Parameters{
	height: 70%;
	font-size: 20px;
  color: white;
}
.entity{
  font-family: sans-serif;
  color: #50fd51;
  font-size: 35px;
}
